includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests

    level: 5

    # Info: https://github.com/nunomaduro/larastan/blob/master/docs/rules.md#modelpropertyrule
    checkModelProperties: true
